.timer {
    padding:24px 0;

    &--clock {
        display:flex;
        padding:8px 0;
    }

    &--label {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing:0.5px;
        line-height: 16px;
    }

    &--number {
        display:flex;
        flex-direction: column;
        font-family: "BrunelTextShort";
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.96px;
        text-align: center;
        padding:0 4px;

        @media (min-width: 640px) {
            font-size: 48px;
            line-height: 48px;
        }
    }

    &--title {
        font-family: "Graphik";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }
}