.listing {

    &--body {
        display: flex;
        gap:24px;
        margin:0 auto;
        max-width:1440px;
        padding:0 20px;
        width:100%;
    }

    &--container {
        margin:0 auto;
        max-width:1440px;
        padding:0 20px;
        position:relative;
        width:100%;
    }

    &--headline {
        color: var(--base-black, #010101);
        font-family: "BrunelTextShort";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
    }

    &--facets {
        flex:1 0 220px;
    }

    &--intro {
        align-items: center;
        background:var(--neutrals--50);
        border-bottom:solid 1px var(--neutrals--200);
        display:flex;
        padding:48px 0 40px;

        .breadcrumb {
            left:20px;
            position:absolute;
            top:50%;
            transform: translateY(-50%);
        }
    }

    &--overflow {
        height:100vh;
        overflow:scroll;
        position: sticky;
        top:0px;
    }

    &--products {
        display:flex;
        flex-wrap: wrap;
        gap:24px;
        padding:0 24px;

        .product {
            min-width:calc(33.333% - 24px);
            padding:24px;
            width:100%;

            @media (min-width: 1024px){
                min-width:calc(25% - 24px);
            }
        }
    }

    &--toolbar {
        height: 54px;
        flex:0 0 100%;
        position: sticky;
        top: 0;
        z-index:999;
    }
}