.buybox {

    &--labels {
        color:var(--neutrals--600);
        display:flex;

        button {
            cursor: pointer;
            color:inherit;
            margin-left:auto;
            padding:0;
            border:none;
            background:transparent;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--receive {
        color:var(--neutrals--600);
        font-size:14px;
        font-weight: 400;
        line-height:20px;
        margin-top:-12px;
        text-align: center;

        strong {
            color:var(--base---black);
            font-weight:500;
        }
    }
}