@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/GraphikLCG-Thin.ttf");
	font-weight: 100;
}

@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/GraphikLCG-Light.ttf");
	font-weight: 200;
}

@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/GraphikLCG-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/GraphikLCG-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/GraphikLCG-Semibold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/GraphikLCG-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/GraphikLCG-Black.ttf");
	font-weight: 800;
}

@font-face {
	font-family: "Graphik";
	src: url("./assets/fonts/GraphikLCG-Super.ttf");
	font-weight: 900;
}

@font-face {
	font-family: "BrunelTextShort";
	src: url("./assets/fonts/BrunelTextShort-Roman-Trial.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "BrunelTextShort";
	src: url("./assets/fonts/BrunelTextShort-Medium-Trial.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "BrunelTextShort";
	src: url("./assets/fonts/BrunelTextShort-Semibold-Trial.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "BrunelTextShort";
	src: url("./assets/fonts/BrunelTextShort-Bold-Trial.ttf");
	font-weight: 700;
}

* { box-sizing: border-box; }

a {
	color:#0056FF;
	text-decoration: none;
}

/* Design System Colors */
:root {
    --base---white: #FFFFFF;
    --base---black: #000000;
    --base---primary--action: #0056FF;
    --neutrals--50: #F9FAFC;
    --neutrals--100: #F3F4F6;
    --neutrals--200: #E6E7EB;
    --neutrals--300: #D2D5DC;
    --neutrals--400: #9CA2AE;
    --neutrals--500: #6B7380;
    --neutrals--600: #4C5564;
    --neutrals--700: #384152;
    --neutrals--800: #202938;
    --neutrals--900: #111828;
    --utility---overlay-1: #202938;
    --utility---overlay-2: #202938;

    --shadow--standard:  2px 4px 9px rgba(187, 187, 187, 0.3);
    --shadow--extreme:  2px 4px 9px rgba(0, 0, 0, 0.4);
    --border--bottom:  0px 1px 0px rgba(230, 231, 235, 1);
    --border--left:  -1px 0px 0px rgba(230, 231, 235, 1);
    --border--right:  1px 0px 0px rgba(230, 231, 235, 1);
    --border--top:  0px -1px 0px rgba(230, 231, 235, 1);
}

$breakpoint--xlarge: 1280px;
$breakpoint--large: 1200px;
$breakpoint--medium: 1024px;
$breakpoint--small: 768px;
$breakpoint--xsmall: 600px;

html,
body {
	font-family: "Graphik";
}

.app {
}

.panel {
	width:470px;
}

.buybox {
	background:var(--neutrals--50);
	display: flex;
	flex-direction: column;
	gap:24px;
	padding:24px;

	&--labels {
		font-size:14px;
		line-height:20px;
		margin-bottom:-16px;
	}
}





.panel {
	display:flex;
	flex-direction: column;
	gap:24px;
	flex:0 0 500px;
	padding:0 16px;
	width:480px;
}

.main {
	&--container {
		display:flex;
		gap:16px;
		justify-content: stretch;
		max-width:1440px;
		margin:0 auto;
		padding:24px 60px 80px;
		width:100%;
	}
}

.info {
	display:flex;
	flex-direction: column;
	gap:12px;
	padding:16px 0;

	&--brand {
		color: var(--base-black, #010101);
		font-family: "Graphik";
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px; 
	}

	&--price {
		color: var(--base-black, #010101);
		font-family: "Graphik";
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
	}

	&--title {
		color: var(--base-black, #010101);
		font-family: "BrunelTextShort";
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px;
	}
}

img {
	display: block;
	width:100%;
}